* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.mein__menu {
  background-color: #e5e5e5;
  padding: 10px 0;
  text-align: center;
}
.mein__link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin: 0 15px;
  transition: all 0.1s linear;
}
.mein__link:hover {
  color: #f13c6e;
}
.header__white {
  background-color: #fff;
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */
}
.header__logo {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1.5fr 1.5fr 1.2fr;
}

.header__logotip {
  display: flex;
  align-items: center;
}

.header__form {
  display: flex;
  align-items: center;
  position: relative;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: right;
}
.logotip__title {
  color: #f13c6e;
  margin-left: 20px;
  font-weight: bold;
  font-size: 36px;
}
.header__input {
  height: 30px;
  border-radius: 40px;
  width: 180px;
  border: none;
  background-color: #e5e5e5;
}
.form__img {
  position: absolute;
  left: 10px;
  width: 20px;
}
.contacts__span {
  font-size: 16px;
  font-weight: 400;
  margin-right: 40px;
}
.contacts__link {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #f13c6e;
  padding: 7px 14px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: all 0.1s linear;
}
.contacts__link:hover {
  background-color: #f13c6e;
  color: #fff;
}
/*        NAV         */

.nav {
  text-align: center;
  padding: 20px;
}
.nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-size: 16px;
  transition: all 0.1s linear;
}
.nav a:hover {
  color: #f13c6e;
}
.header__background__img {
  background-image: url(../img/bacakground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  background-position: center center;
  padding-top: 150px;
  grid-template-columns: 2fr 10fr 2fr;
}
.background__title {
  grid-column: 2/3;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}
.background__text {
  grid-column: 2/3;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-top: 40px;
  max-width: 308px;
}
.background__link {
  grid-column: 2/3;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 150px;
}
.background__link a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 5px 25px;
  transition: all 0.2s linear;
}
.background__link a:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}
.wrapper__item {
  display: grid;
  text-align: center;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 2fr);
}
.wrapper__title {
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: left;
  font-size: 24px;
  margin: 80px 0 20px;
  font-weight: 700;
}
.wrapper__box {
  background-color: #fff;
  padding: 20px 0;
}
.box__p {
  max-width: 195px;
  margin: 20px auto;
  font-size: 14px;
}
.price {
  font-size: 21px;
  font-weight: 7 00;
  margin-bottom: 20px;
}
.box__btn {
  padding: 9px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #f13c6e;
  color: #fff;
  transition: all 0.1s linear;
}
.box__btn:hover {
  background-color: #ff0048;
}

/* BLOG */
.blog {
  margin: 80px 0;
}
.blog__item {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 30px;
}
.blog__box {
  background-color: #f13c6e;
  grid-column: 1/3;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 35px 0 15px 20px;
  align-items: center;
}

.blog__box2 {
  background-color: #f13c6e;
  grid-column: 3/5;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 35px 70px 15px 20px;
  align-items: center;
}
.blog__box2 .blog__text {
  width: 141px;
}
.blog__link {
  text-decoration: none;
  color: #fff;
  padding: 9px 28px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.blog__link:hover {
  background-color: #ffffff;
  color: #000;
}
.blog__title {
  grid-column: 1/2;
  font-size: 18px;
  font-weight: bold;
}
.blog__text {
  grid-column: 1/2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.blog__input {
  grid-column: 1/2;
}
.blog__input input {
  padding: 9px 0 9px 25px;
  border-radius: 20px;
  border: none;
}
.blog__input input::placeholder {
  color: rgb(0, 0, 0, 0.3);
}
.blog__img {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* INNER */

.iiner__item {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.inner__img {
  padding: 25px 45px;
  background-color: #fff;
  margin: 1px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #fff;
  margin-top: 70px;
  padding: 50px 0 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.footer__inner {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 2fr);
}
.footer__box {
  font-weight: 600;
  font-size: 16;
}
.footer__box h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.footer__box ul {
  margin-top: 30px;
}

.footer__box ul li {
  list-style: none;
  line-height: 30px;
}
.footer__box ul li a {
  text-decoration: none;
  color: #828282;
  font-weight: 400;
  opacity: 0.7;
  transition: all 0.01s linear;
}
.footer__box ul li a:hover {
  opacity: 1;
  color: #5e5e5e;
}
/* MEIN FOOTER */

.mein__footer__item {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
}

.mein__footer__box i {
  font-size: 26px;
  color: #f13c6e;
  border: 2px solid #f13c6e;
  border-radius: 100%;
  padding: 10px;
  transition: all 0.1s linear;
}
.mein__footer__box i:hover {
  background-color: #ff0048;
  color: #fff;
}
.mein__footer__box {
  font-size: 14px;
}
.finish {
  padding: 15px 0;
  font-size: 12px;
  color: #828282;
}
.finish__item {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.finish__item a {
  text-decoration: none;
  cursor: pointer;
  color: #828282;
  opacity: 0.7;
}
.finish__item a:hover {
  opacity: 1;
  text-decoration: underline;
}
